# What to put in your real env file
DB_URL=
DB_PASSWORD=
MAIL_USERNAME=
MAIL_PASSWORD=
SUPABASE_KEY=
SUPABASE_URL=
NOTIFICATION_RECIPIENT=
ISSUER_URI=
JWK_SET_URI=
CORS_ALLOWED_ORIGIN=
SPRING_PROFILES_ACTIVE=
